
.background-radial-gradient {
    background: linear-gradient(178.1deg, rgb(60, 55, 106) 8.5%, rgb(23, 20, 69) 82.4%); 
  }

  .playlist-container {
    max-height: 330px;
    overflow-y: scroll;
  }

  .playlist-container .track-item {
    padding: 10px;
  }

  .playlist-container::-webkit-scrollbar {
    width: 10px;
    background-color: #F5F5F5;
}
.playlist-container::-webkit-scrollbar-track {
  border-radius: 10px;
  background: rgba(0,0,0,0.1);
  border: 1px solid #ccc;
}

.playlist-container::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: linear-gradient(left, #fff, #e4e4e4);
  border: 1px solid #aaa;
}

.playlist-container::-webkit-scrollbar-thumb:hover {
  background: #fff;
}

.playlist-container::-webkit-scrollbar-thumb:active {
  background: linear-gradient(left, #22ADD4, #1E98BA);
}